<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '123456789012345678']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
	<meta name="google-translate-customization" content="b1b00c67dd218e84-cc2bd9b672dade4e-g8247ccea5f28766b-1d"></meta>
    <title>Home</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" media="screen" href="css/grid_12.css" />
    <link rel="stylesheet" type="text/css" href="css/slicebox.css" />
<script type="text/javascript" src="js/tabs.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Condiment' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css' />
    <script src="js/jquery-1.7.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/tms-0.4.x.js"></script>
    <script type="text/javascript" src="js/modernizr.custom.13303.js"></script>
    <script>
		$(document).ready(function(){				   	
			$('.slider')._TMS({
				show:0,
				pauseOnHover:true,
				prevBu:false,
				nextBu:false,
				playBu:false,
				duration:1000,
				preset:'fade',
				pagination:true,
				pagNums:false,
				slideshow:10000,
				numStatus:true,
				banners:'fromRight',
				waitBannerAnimation:false,
				progressBar:false
			})		
		});
	</script>
    <script type="text/javascript" src="js/jquery.slicebox.min.js"></script>
		<script type="text/javascript">
			$(function() {
				
				$('#sb-slider').slicebox({
					slicesCount			: 8,
					disperseFactor		: 20,
					sequentialRotation	: true,
					sequentialFactor	: 100
				});
				
				if( !Modernizr.csstransforms3d ) {
					$('#sb-note').show();
					
					$('#sb-examples > li:gt(2)').remove();
					
					$('body').append(
						$('script').attr( 'type', 'text/javascript' ).attr( 'src', 'js/jquery.easing.1.3.js' )
					);
				}	
			});
		</script>
		<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
   		<script type="text/javascript" src="js/html5.js"></script>
    	<link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
	<![endif]-->
</head>
<body>
 <div class="red"><div class="center">
 <div class="logo"><img src="images/02.png" alt="" /></div>
 <div class="navig">
 <ul class="menu">
                    <li class="home-page current"><a href="/index">About<br /><br /><span class="text1">Who We Are</span></a></li>
                    <li><a href="/charities">Charities<br /><br /><span class="text1">Where We Work</span></a></li>
                    <li><a href="/programs">Programs<br /><br /><span class="text1">What we offer</span></a></li>
                    <li><a href="/contacts">Contacts<br /><br /><span class="text1">Get In touch</span></a></li>
                    
                </ul>
 </div>
 <div id="google_translate_element"></div>
 </div>
 </div>
 <div class="white"><div class="center">
             



<div class="clear"></div>
<div class="line">
<div class="one1"></div>
</div>
<div class="content">
	<div class="who"><p class="text6">Donate</p><br />
	<p class="text7">Content here</p><br />
	<p class="text8">
		
		<div class="videos">
			<img src = "{{url2}}" />
		</div>
		
	</p></div>
	<div class="clear"></div>
	<div class="linr"></div>
	<div class="clear"></div>
	<div class="footer">
	<div class="copy">Children charity © 2011  |  Privacy Policy </div>
	<div class="vlinks"><a href="http://www.webdesign.org">Original Template</a> by <a title="Free Templates Online" href="http://www.freetemplatesonline.com">Free Templates</a> Online</div>
</div>
 
 </div></div>
      
</body>
</html>